<h1>Восстановление пароля в рабочей площадке</h1>

<p>Здраствуйте, <b>{{first_name}} {{second_name}}</b>. Вы или кто-либо другой оставили запрос на восстаовление доступа к своей учетной записи в рабочей площадке {{ workspace_name }}. Для установки нового пароля перейдите по следующей ссылке: <a href="{{link}}">{{link}}</a></p>

<p><small>Если вы получили это письмо по ошибке, тогда просто не делайте ничего.</small></p>