<h1>Приглашение в рабочую площадку</h1>

<p>Здраствуйте, <b>{{first_name}} {{second_name}}</b>. Вы были приглашены в рабочую площадку {{ workspace_name }} </p>

<p>Для подтверждения приглашения вам необходимо перейти по данной ссылке: <a href="{{link}}">{{link}}</a></p>

<p><small>Если вы получили это письмо по ошибке, тогда просто не делайте ничего.</small></p>