<h1>Подтверждение смены email адреса</h1>

<p>Здраствуйте, <b>{{first_name}} {{second_name}}</b>. В рабочей площадке {{ workspace_name }} вы сменили свой email адрес на {{ email }}. </p>

<p>Для подтверждения действия вам необходимо перейти по данной ссылке: <a href="{{link}}">{{link}}</a></p>

<p><small>Если вы получили это письмо по ошибке, тогда просто не делайте ничего.</small></p>